<script lang="ts">
</script>

<main class="container mx-auto">
  <div class="py-12">
    <div class="px-4 sm:px-6 lg:px-8">
      <h1
        class="text-3xl leading-8 font-extrabold tracking-tight text-gray-800 sm:text-4xl"
      >
        Electron + Svelte + TailwindCSS
      </h1>
      <p class="my-4 max-w-2xl text-xl text-gray-700 ">
        A minimal
        <a
          class="text-indigo-700 hover:underline"
          href="https://www.electronjs.org/"
          target="_blank"
        >
          Electron</a
        >,
        <a
          class="text-indigo-700 hover:underline"
          href="https://svelte.dev/"
          target="_blank"
        >
          Svelte
        </a>
        and
        <a
          class="text-indigo-700 hover:underline"
          href="https://tailwindcss.com/"
          target="_blank"
        >
          TailwindCSS
        </a>
        project template.
      </p>

      <h2
        class="my-6 text-xl leading-8 font-semibold tracking-tight text-gray-800 sm:text-2xl"
      >
        Available commands
      </h2>
      <div class="bg-gray-900 font-mono text-sm text-white p-4 rounded">
        <p class="text-gray-500">// Runs Svelte in dev mode</p>
        <p>npm run dev</p>
        <br />
        <p class="text-gray-500">// Runs Svelte in production mode</p>
        <p>npm run start</p>
        <br />
        <p class="text-gray-500">// Runs Svelte with electron in dev mode</p>
        <p>npm run electron</p>
        <br />
        <p class="text-gray-500">// Runs Svelte compiler</p>
        <p>npm run build</p>
        <br />
        <p class="text-gray-500">
          // Creates an Electron package (you can inspect the contents)
        </p>
        <p>npm run dev:package</p>
        <br />
        <p class="text-gray-500">// Creates a distributable Electron package</p>
        <p>npm run package</p>
      </div>
    </div>

    <div class="px-4 mt-14 sm:px-6 lg:px-8">
      <p class="text-sm">Angel Meraz © 2021</p>
    </div>
  </div>
</main>

<style global lang="postcss">
  /* Tailwind */
  /* purgecss start ignore */
  @tailwind base;
  @tailwind components;
  /* purgecss end ignore */
  @tailwind utilities;

</style>
